*{
  font-family: 'Sangbleu Kingdom';
  /* color: #402e25 !important; */
}


/* ************************************** Home start ************************************** */
.logo{
  width: 100px;
  height: 100px;
}
.nav-link{
  text-decoration: none;
  font-size: 1.2rem;
}
.homeImage{
  width: 98vw;
  height: 98vh;
  margin: 0 auto 0 auto;
}
.prevIcon{
  color: red !important;
  background-color: red !important;
}
.carousel-caption h1,.carousel-caption p{
  color: white;
}
/* ************************************** Home End ************************************** */